dist

# IDE
.idea/
*.swp
*.swo
*~

.sisyphus

# TMEP FILES
.DS_Store
Thumbs.db
nul
*.exe
tmp
temp_*
coverage.out
coverage.html
coverage_*
coverage-*
logs
*.log

# Python
scripts/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
